u1.nav{
    padding-left: 0px;
    background-color:rgb(196, 139, 139);
    text-align: center;
    -webkit-text-fill-color: azure;
    
}
u1.nav>li{
    display:inline-flex;
    padding: 10px 104px;
}
u1.nav>li:hover{
background-color: rgb(196, 139, 139);
}
u1.nav>li>a{
    color: rgb(2, 18, 32);
    text-decoration: none;
}
